<!-- entrer un utilisateur -->

<html>

  <head>
    <title>Index des formulaire</title>
  </head>

  <body>
<center>
    <h2 align="center">Choix du formulaire</h2>
 	<br />
    <p>Voici les différents formulaires que vous pouvez remplir pour vous enregistrer :</p>
  
    <p>
    - <b>Formulaire 1 :</b> <br />
    	Brut de décoffrage mais efficace, cliquez <a href="/formulaire1">ici</a>.
    	<br /> 
    	<br />
    - <b>Formulaire 2 :</b><br />
    Créé avec des form_tag, toujours brut de décoffrage, par <a href="/formulaire2">ici</a>.
    	<br /> 
    	<br />
    - <b>Formulaire 3 :</b><br />
    Celui là est un petit plus sympa à voir, c'est <a href="/formulaire3">ici</a>. 
	</p>
	
 </center> 
  </body>

</html>